<section>
    <div class="container services">
        <div class="row">
            <div class="about">
                <h3>WELCOME TO KING RESTAURANT</h3>
                <p>Lorem ipsum dolor sit amet consectetur adip isicing elit. Aliquid, temporibus commodi quo rem sequi ducimus repellendus consectetur, saepe quia sed necessitatibus quam aperiam excepturi rerum labore at quos placeat nulla?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="welcome">
                    <img src="assets/images/delicious.jpg" alt="">
                    <div>
                        <h4>WARM WELCOME</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate explicabo earum debitis, facere vero autem sit. Vel molestiae eos in quam? Ipsum ut eum cum molestias perspiciatis vero omnis?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="meals">
                    <img src="assets/images/delicious.jpg" alt="">
                    <div>
                        <h4>BEST RECIPES</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate explicabo earum debitis, facere vero autem sit. Vel molestiae eos in quam? Ipsum ut eum cum molestias perspiciatis vero omnis?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant">
                    <img src="assets/images/restaurant.jpg" alt="">
                    <div>
                        <h4>MODERN INTERIOR</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate explicabo earum debitis, facere vero autem sit. Vel molestiae eos in quam? Ipsum ut eum cum molestias perspiciatis vero omnis?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>