<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/images/chef.jpg" alt="">
            </div>
            <div class="col-md-7">
                <div class="words">
                    <h3>WORDS FROM OUR CHEF</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt iusto fuga excepturi dolorem aliquam eligendi perspiciatis, id earum omnis laboriosam similique? Beatae corrupti iusto aliquam deserunt reprehenderit nemo a ab?</p>
                </div>
            </div>
        </div>
    </div>
</section>