<section class="blog">
    <div class="container">
        <h3>NEWS & EVENTS</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 class="blog-tle">LOREM IPSUM HAS BEEN THE STANDARD DUMMY TEXT</h4>
                <h4>11/09</h4>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate explicabo earum debitis, facere vero autem sit. Vel molestiae eos in quam</p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>LOREM IPSUM HAS BEEN THE STANDARD DUMMY TEXT</h4>
                <h4>11/09</h4>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate explicabo earum debitis, facere vero autem sit. Vel molestiae eos in quam?</p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>LOREM IPSUM HAS BEEN THE STANDARD DUMMY TEXT</h4>
                <h4>11/10</h4>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate eos in quam? Ipsum ut eum cum molestias perspiciatis vero omnis?</p>
                </div>
            </div>
        </div>
    </div>
</section>